<div class="layout-container">

   {% if page.header %}
    <header role="banner" class="page-header">
      {{ page.header }}
    </header>
  {% endif %}

  {% if page.navigation %}
    <div role="navigation" class="navigation">
      {{ page.navigation }}
      {{ page.secondary_menu }}
      
    </div>
  {% endif %}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.left-sidebar %}
      <aside class="layout-sidebar" role="complementary">
        {{ page.sidebar }}
      </aside>
    {% endif %}

  </main>


  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
